<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-Frame-Options" content="GOFORIT">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
      <link rel="stylesheet" href="app/app.css">
      <!-- <link rel="stylesheet" ng-href="{{colors}}"> -->
      <link rel="stylesheet" href="css/red.css">

      <link rel="stylesheet" href="css/fonts.css">
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/normalize.css">
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
      <link rel="stylesheet" href="css/all.css">
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body ng-app="resumeApp">
    <!--[if lt IE 7]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- this color changer for demo purposes only you can completely get rid of it -->
    <!-- {{colors}}
    <div class="color-changer" data-ng-class="{'color-changer-hiden':!colorContainer}">
        <div class="color-changer-icon" data-ng-click="openColorChanger()"></div>
        <h3>Choose the color</h3>
        <div class="blue" data-ng-click="openColorChanger();changeColor('css/blue.css')"></div>
        <div class="green" data-ng-click="openColorChanger();changeColor('css/green.css')"></div>
        <div class="red" data-ng-click="openColorChanger();changeColor('css/red.css')"></div>
        <div class="brown" data-ng-click="openColorChanger();changeColor('css/brown.css')"></div>
        <div class="yellow" data-ng-click="openColorChanger();changeColor('css/yellow.css')"></div>
    </div> -->
    <!-- LOADERS -->
    <div class="loads">
        <div class="pre-loader" data-ng-if="loader">
            <img src="img/icons/load.svg" alt="img/icons/load.svg">
        </div>
        <h1 data-ng-if="loader">Welcome to Faisal's Resume website</h1>
    </div>
    <div class="pre-loader" data-ng-if="loader">
        <img src="img/icons/load.svg" alt="img/icons/load.svg">
    </div>
    <!-- Add your site or application content here -->
    <div ui-view=""></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="bower_components/lodash/dist/lodash.compat.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <!-- endbower -->
      <script src="assets/js/smoothscroll.js"></script>

    <!-- endbuild -->
    <!-- build:js(.tmp) app/app.js -->
      <script src="app/app.js"></script>
      <!-- injector:js -->
      <script src="app/all/all.directive.js"></script>
      <script src="app/main/main.controller.js"></script>
      <script src="app/main/main.js"></script>
      <script src="components/footer/footer.directive.js"></script>
      <script src="components/modal/modal.service.js"></script>
      <script src="components/navbar/navbar.controller.js"></script>
      <script src="components/navbar/navbar.directive.js"></script>
      <!-- endinjector -->
    <!-- endbuild -->
  </body>
</html>
