<div class="homePage">
    <div class="top-nav primary" id="theMain">
        <ul class="top-nav-socials">
            <li>
                <a href="" class="social-icons fa fa-facebook">FACK</a>
            </li>
            <li>
                <a href="" class="social-icons fa fa-twitter"></a>
            </li>
            <li>
                <a href="" class="social-icons fa fa-linkedin"></a>
            </li>
        </ul>
        <div class="top-nav-avatar">
            <div class="load-data" data-path="contents/about.html">
                <img src="assets/img/me-1.jpeg" alt="" class="top-avatar">
            </div>
            <h2>Faisal Nawaz </h2>
            <p>
                Web Fullstack
                <br> / Developer
            </p>
        </div>
    </div>
    <span class="mobile-menu" data-ng-click="openMenu()">
    </span>
    <div class="left-side" data-ng-click="closeMenu()">
        <nav>
            <ul class="menu-list">
                <li class="load-data" data-path="contents/about.html"><i class="fa fa-user"></i>About</li>
                <li data-ng-click="resume = !resume">
                    <i class="fa fa-plus open-button toggle" data-ng-show="!resume"></i>
                    <i class="fa fa-minus open-button toggle" data-ng-show="resume"></i>
                    <i class="fa fa-briefcase"></i>
                    <span>Resume</span>
                </li>
                <li data-ng-show="resume" class="slide-top">
                    <ul class="child-data primary">
                        <li class="load-data" data-path="contents/resume.html">
                            Experience
                        </li>
                        <li class="load-data" data-path="contents/education.html">
                            Education
                        </li>
                        <!-- <li class="load-data" data-path="contents/services.html">
                            Services
                        </li> -->
                    </ul>
                </li>
                <!-- <li class="load-data nav-home" data-path="contents/blog.html"><i class="fa fa-comments"></i>Blog</li> -->
                <li class="load-data nav-home" data-path="contents/portfolio.html"><i class="fa fa-image"></i>Portfolio</li>
                <!-- <li class="load-data" data-path="contents/contact.html"><i class="fa fa-envelope-o"></i>Contact</li> -->
                <!-- <li class="load-data" data-path="contents/instructions.html"><i class="fa fa-wrench"></i>Instructions</li> -->
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="right-side">
                <div class="main-container"></div>
            </div>
        </div>
    </div>
</div>
